/* .basic-swipeable-list__container {
    width: 100%;
    margin: 24px 0;
    outline-color: gray;
    outline-style: solid;
    outline-width: 1px 0;
} */

.basic-swipeable-list__container {
    width: 100%;
    margin: 2rem 0;
    padding: 2rem;
}